{% extends "base.html" %}

{% block title %}{{ article.title }} - 个人博客{% endblock %}

{% block content %}
<div class="article-detail">
    <h1 class="article-detail-title">{{ article.title }}</h1>
    
    {% if article.created_time %}
        <div class="article-detail-time">发布时间：{{ article.created_time }}</div>
    {% endif %}
    
    {% if article.quote %}
        <div class="article-detail-quote">{{ article.quote }}</div>
    {% endif %}
    
    {% if article.comment %}
        <div class="article-detail-comment">{{ article.comment }}</div>
    {% endif %}
    
    <div class="article-detail-content">
        {{ article.content }}
    </div>
    
    <a href="{{ url_for('index') }}" class="back-link">返回首页</a>
</div>
{% endblock %}